<div class="view_wrapper_login">


    <div class="login_container" ng-show="loginshow">

        <div class="login_title" ng-class="{animate_title: delaytime}">
            Please Login
        </div>

        <form name='login' ng-submit="loginuser()">

          <div class="input_container">
              <input type="text" ng-model="user.email" required>
              <label ng-class='{movelabelup: user.email.length > 0}'>
                  E-mail Address
              </label>
          </div>


          <div class="input_container">
              <input type="password" ng-model="user.password" required>
              <label ng-class='{movelabelup: user.password.length > 0}'>
                  Password
              </label>
          </div>

          <div class="input_container">
              <button type="submit" class="loginbtn">Sign In</button>
          </div>
          
          <div class="input_container">
              <button type="button" class="registerbtn" ng-click="changeView()">Register Now</button>
          </div>

        </form>
      </div> <!-- End of Login Container -->

      <div class="login_container" ng-show="registershow">

        <div class="login_title" ng-class="{animate_title: delaytime}">
            Sign Up
        </div>

        <form name='login' ng-submit="register(user)">

            <div class="input_container">
              <input type="text" ng-model="user.name" required>
              <label ng-class='{movelabelup: user.name.length > 0}'>
                Name                    
              </label>
            </div>

            <div class="input_container">
              <input type="text" ng-model="user.email" required>
              <label ng-class='{movelabelup: user.email.length > 0}'>
                Enter E-mail Address                    
              </label>
            </div>


            <div class="input_container">
              <input type="password" ng-model="user.password" required>
              <label ng-class='{movelabelup: user.password.length > 0}'>
                  Enter Password
              </label>
            </div>

            <div class="input_container">
              <button type="submit" class="loginbtn">Sign Up</button>
            <div>

            <div class="input_container">
              <button type="button" class="registerbtn" ng-click="changeView()">Log In</button>
            </div>

          </form>
      </div><!-- End of Register Container -->


        
</div><!-- End of View Wrapper -->