<div id="overlay"></div>
<div id="createusermodal" class="animated fadeInDown">
    <header>
        <span>Add A Note for <span class="blue">{{ user.fullName}}</span></span> 
    </header>
    
    <section>
        <form>
            <div class="input_container">
                <input type="text"  
                  name="Subject" 
                  ng-model="note.subject" 
                  placeholder="Subject of note"
                  ng-maxlength=20 
                  required />
            </div>

            <div class="input_container_textarea">
                <textarea 
                ng-model="note.text"
                placeholder="Write note here"></textarea>
            </div>

        </form>
    </section>

    

    <footer ng-hide="nowBoardNow">
        <div>
            <button class="btn_cancel" ng-click="cancel(note)">Cancel</button>
            <button class="btn_next" ng-click="submitNote(note)">Save</button>
        </div>
    </footer>
</div>