<div class="nav_side">

        <header class="tab">
          <span class="title">New Employee Onboarding</span>
          <span class="empName">
            <span class="for">for</span>
            John Smith
          </span>
          <span class="progressCircle"></span>
        </header>

        <div class="steptab" ng-repeat="data in data">
          <header class="tab" ng-click="changePanel($index)">
            <span class="lrgCheckCircle" ng-class="{checked: data.completed}">
              <i class="fa fa-check" ng-class="{completed: data.completed}"></i></span>
            <span class="tabTitle">{{data.tab}}</span>
          </header>
        
          <div class="dropDownBody">
            <div class="dashLine"></div>
            <ul>
              <li ng-repeat="step in data.steps">
                <span class="smCheckCircle" ng-class='{checked: step.completed}'><i class="fa fa-check" ng-class="{completed: step.completed}"></i></span>
                <span class="stepTitle">{{ step.title }} </span>
                <span class="requiredLabel" ng-class='{required: step.status === "Required"}'>{{ step.status}}</span> 
              <li>
            </ul>
          </div> <!-- End of dropDownBody -->

        </div> <!-- End of ng-repeat - data in data -->




      </div> <!-- End of nav_side -->